@use '../../styles/mixins';
@use '../../styles/variables.scss' as var;

.description {
	@include mixins.flex($direction: column, $justify: center);
	gap: var.$small-space;
	width: 100%;

	.title {
		@include mixins.font(
			$font: var.$font,
			$size: var.$bigTitle-1,
			$weight: 800,
			$color: var.$clear-color-1
		);
		width: 100%;
		z-index: 1;
		@include mixins.min-width(large) {
			width: 50%;
		}
	}

	.text {
		@include mixins.font(
			$font: var.$font,
			$size: var.$text,
			$weight: 400,
			$color: var.$dark-color-2
		);
		width: 100%;
		z-index: 1;

		@include mixins.min-width(large) {
			width: 50%;
		}
	}
}

.inpt {
	@include mixins.flex(
		$direction: row,
		$align: center,
		$justify: space-between
	);
	gap: var.$micro-small-space;
	width: 100%;
	border-radius: var.$small-border;
	background-color: var.$clear-color-1;
	z-index: 1;
	height: 100%;
	overflow: hidden;
	border-radius: var.$medium-space;
	
	.containerSrc {
		@include mixins.flex($align: center);
		gap: var.$slim-space;
		width: 100%;
		height: 100%;
		padding: 0 0 0 var.$small-space;
		cursor: text;

		.btnSrc {
			display: flex;
			@include mixins.font(
				$font: var.$font,
				$size: var.$text,
				$weight: 600,
				$color: var.$dark-color-3
			);
			width: 100%;
			height: 100%;
		}
	}
	.iconSubmit {
		color: var.$dark-color-2;
		height: 30px;
		width: 30px;
	}
}

.filterCategory {
	@include mixins.flex($align: center, $justify: start);
	gap: var.$small-space;
	width: 100%;
	overflow-x: auto;

	.btnCategory {
		@include mixins.font(
			$font: var.$font,
			$size: var.$small-text,
			$weight: 600,
			$color: var.$clear-color-2
		);
		text-wrap: nowrap;
		padding: var.$small-space;
		border-radius: var.$small-border;
		cursor: pointer;
		transition: all 0.3s ease-in-out;
		background-color: var.$dark-color-2;
		z-index: 1;

		&:hover {
			background-color: var.$dark-color-3;
			color: var.$clear-color-1;
		}
	}

	.active {
		background-color: var.$highlight-2;
	}
}

.geometricStar {
	position: absolute;
	top: -30%;
	left: -40%;
	width: 350px;
	z-index: 0;

	@include mixins.min-width(large) {
		top: -60%;
		left: 70%;
		width: 800px;
	}
}
