@use '../../styles/mixins';
@use '../../styles/variables.scss' as var;
@use '../../styles/animation.scss';

.wrapper {
	@include mixins.flex($justify: space-between, $align: center);
	position: fixed;
	z-index: 2000;
	bottom: 0;
	width: 100%;
	height: 8vh;
	padding: 0 var.$small-space;

	.containerAside {
		@include mixins.flex($direction: column, $justify: center, $align: center);
		gap: var.$small-space;
		padding: var.$small-space;
		position: fixed;
		right: 0;
		top: 0;
		width: 70%;
		height: 100vh;
		background-color: var.$medium-1;
		opacity: 1;
		animation: entraceToLeft 0.3s ease-in-out forwards;

		.containerCloseMenu {
			@include mixins.flex($direction: column, $justify: flex-end, $align: flex-end);
			font-size: 2em;
			color: var.$highlight-2;
			width: 100%;
			height: 30%;

			.closeMenu {
				margin: 0;
				padding: 0;
				width: fit-content;
				font-size: 3em;
			}
		}

		.info {
			@include mixins.flex($direction: column, $justify: center, $align: center);

			h2 {
				@include mixins.font($font: var.$font, $size: var.$bigTitle-2, $weight: 800, $color: var.$dark-color-2);
			}
			p {
				@include mixins.font($font: var.$font, $size: var.$text, $weight: 400, $color: var.$dark-color-2);
			}
		}

		.listHolidays {
			@include mixins.flex($direction: column, $justify: flex-start, $align: center);
			width: 100%;
			height: 90%;
			overflow: auto;
			gap: var.$small-space;
			border-radius: var.$small-border;
			li {
				@include mixins.flex($direction: column, $justify: center, $align: center);
				width: 100%;
			}
		}
	}

	.containerIcons {
		@include mixins.flex($justify: space-between, $align: center);
		gap: var.$small-space;
		border-radius: var.$small-border;
		width: 100%;
		height: 100%;
		background-color: var.$highlight-2;
		padding: var.$small-space;

		.listItem {
			@include mixins.flex($direction: column, $justify: center, $align: center);
			padding: var.$micro-small-space;

			.link {
				@include mixins.flex($direction: column, $justify: center, $align: center);
				color: var.$clear-color-1;
				font-size: var.$bigTitle-2;
			}
		}
	}
}
