@use '../../styles/mixins.scss';
@use '../../styles/variables.scss' as var;

.wrapper {
	@include mixins.flex($direction: column);
	gap: var.$micro-small-space;
	width: 100%;
	height: 100%;
	margin-bottom: 8vh;

	@include mixins.min-width(small) {
		margin-bottom: 0;
		margin-top: calc(10vh + var.$small-space);
		gap: var.$medium-space;
	}

	.btnSubmit {
		@include mixins.flex($justify: center, $align: center);
		background-color: var.$highlight-1;
		width: 30%;
		height: 8vh;
		cursor: pointer;
		transition: all ease-in-out 0.3s;

		&:hover {
			background-color: var.$medium-2;
		}

		@include mixins.min-width(small) {
			width: 10%;
		}
	}

	.containerInpt {
		@include mixins.flex($direction: column);
		position: relative;
		overflow: hidden;
		gap: var.$small-space;
		padding: var.$medium-border;
		width: 100%;
		height: 100%;
		background-color: var.$medium-1;
		border-radius: var.$medium-border;
	}

	.containerCard {
		@include mixins.flex($direction: column);
		padding: var.$micro-small-space;
		gap: var.$micro-small-space;
		width: 100%;
		height: 100vh;
		background-color: var.$clear-color-1;
		border-radius: var.$small-border;

		@include mixins.min-width(small) {
			@include mixins.flex($direction: row);
			height: 10vh;
		}
	}
}
